label {
  display: block;
  margin-bottom: 5px;

  @media (min-height: $screen-md-min-y) {
    margin-bottom: 10px;
  }

  &:not([disabled]) {
    cursor: pointer;
  }
}

input,
select {
  width: 100%;
  height: $input-height;
  padding: $input-padding;
  transition: box-shadow $transition-duration-base;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
  box-shadow: inset 0 -1px $gray;
  font-size: $input-font-size;
  font-weight: 300;

  @media (min-height: $screen-md-min-y) {
    height: $input-height-md-y;
    font-size: $input-font-size-md-y;
  }

  &:focus {
    border-radius: 0;
    box-shadow: inset 0 -3px $color-accent;
  }

  &[disabled] {
    height: auto;
    color: $color-accent;
    background: transparent;
    box-shadow: none;
  }
}

button {
  height: $input-btn-height;
  border: 0;
  border-radius: $component-border-radius;
  font-family: $app-font-family;
  font-size: 16px;
  line-height: $input-btn-height;
}

.form-field-group {
  display: flex;
  align-items: flex-end;

  &--md-up {
    display: block;

    > * {
      margin-right: 0;
    }

    @media (min-width: $screen-md-min) {
      display: flex;

      > * {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

.form {
  &-label {
    position: relative;

    span {
      white-space: nowrap;
    }

    &--with-prefix {
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: $input-label-prefix-width;
        padding: $input-padding;
        content: attr(data-prefix);
        font-size: $input-font-size;

        @media (min-height: $screen-md-min-y) {
          line-height: $input-font-size-md-y;
        }
      }

      .form-input {
        padding-left: $input-padding + $input-label-prefix-width;
      }
    }
  }
}
