.credit-input {
  position: relative;
  width: 100%;
  padding-bottom: 15px;

  &__cta {
    bottom: 0;
    left: 0;
    margin-bottom: -#{$component-padding};
    padding: $component-padding 0;

    &--add {
      position: sticky;
      padding: $component-padding 0;
    }
  }

  &__button {
    display: block;
    width: 100%;
    transition: opacity $transition-duration-base, transform $transition-duration-base;
    color: $white;

    &--add {
      background-color: $color-accent;

      &,
      &.exiting,
      &.exited {
        transform: translateY(-$component-padding);
        opacity: 0;
      }

      &.exited {
        pointer-events: none;
      }

      &.entering,
      &.entered {
        transform: translateY(0);
        opacity: 1;
      }
    }

    &--remove {
      background-color: $color-danger;
    }
  }

  &__field-group {
    display: flex;

    &--md-up {
      display: block;

      @media (min-width: $screen-md-min) {
        display: flex;
      }
    }
  }
}
