.credit-result {
  input {
    padding-top: 0;
    padding-bottom: 0;
    transition: padding $transition-duration-base;
  }

  &__detail {
    transition: opacity $transition-duration-base;
    opacity: 0.3;

    &::before {
      padding: 0;
      transition: padding $transition-duration-base;
      color: $color-accent;
    }

    &.is-active {
      opacity: 1;

      &::before {
        padding: $input-padding;
      }

      input {
        padding-top: $input-padding;
        padding-bottom: $input-padding;
      }
    }
  }
}
