*, *::before, *::after {
  box-sizing: border-box; }

html,
body {
  margin: 0; }

label {
  display: block;
  margin-bottom: 5px; }
  @media (min-height: 569px) {
    label {
      margin-bottom: 10px; } }
  label:not([disabled]) {
    cursor: pointer; }

input,
select {
  width: 100%;
  height: 28px;
  padding: 5px;
  transition: box-shadow 0.2s;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
  box-shadow: inset 0 -1px #ddd;
  font-size: 1rem;
  font-weight: 300; }
  @media (min-height: 569px) {
    input,
    select {
      height: 38px;
      font-size: 1.5rem; } }
  input:focus,
  select:focus {
    border-radius: 0;
    box-shadow: inset 0 -3px #0c84bb; }
  input[disabled],
  select[disabled] {
    color: #0c84bb;
    background: transparent;
    box-shadow: none; }

button {
  height: 40px;
  border: 0;
  border-radius: 10px;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 40px; }

.form-field-group {
  display: flex;
  align-items: flex-end; }
  .form-field-group--md-up {
    display: block; }
    .form-field-group--md-up > * {
      margin-right: 0; }
    @media (min-width: 576px) {
      .form-field-group--md-up {
        display: flex; }
        .form-field-group--md-up > *:not(:last-child) {
          margin-right: 10px; } }

.form-label {
  position: relative; }
  .form-label span {
    white-space: nowrap; }
  .form-label--with-prefix::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 16px;
    padding: 5px;
    content: attr(data-prefix);
    font-size: 1rem; }
    @media (min-height: 569px) {
      .form-label--with-prefix::before {
        line-height: 1.5rem; } }
  .form-label--with-prefix .form-input {
    padding-left: 21px; }

html {
  font-size: 16px; }

body {
  font-family: "Quicksand", "Helvetica Neue", Helvetica, sans-serif; }

html,
body,
.root {
  width: 100%;
  height: 100%; }

.credit-input {
  position: relative;
  width: 100%;
  padding-bottom: 15px; }
  .credit-input__cta {
    bottom: 0;
    left: 0;
    margin-bottom: -15px;
    padding: 15px 0; }
    .credit-input__cta--add {
      position: sticky;
      transition: max-height 0.5s, padding 0.5s; }
      .credit-input__cta--add, .credit-input__cta--add.exiting, .credit-input__cta--add.exited {
        max-height: 0;
        padding: 0; }
      .credit-input__cta--add.entering, .credit-input__cta--add.entered {
        max-height: 80px;
        padding: 15px 0; }
  .credit-input__button {
    display: block;
    width: 100%;
    transition: opacity 0.2s, transform 0.2s;
    color: #fff; }
    .credit-input__button--add {
      background-color: #0c84bb; }
      .credit-input__button--add, .credit-input__button--add.exiting, .credit-input__button--add.exited {
        transform: translateY(-30px);
        opacity: 0; }
      .credit-input__button--add.exited {
        pointer-events: none; }
      .credit-input__button--add.entering, .credit-input__button--add.entered {
        transform: translateY(0);
        opacity: 1; }
    .credit-input__button--remove {
      background-color: #ff6347; }

.credit-result input {
  padding-top: 0;
  padding-bottom: 0;
  transition: padding 0.2s; }

.credit-result__detail {
  transition: opacity 0.2s;
  opacity: 0.3; }
  .credit-result__detail::before {
    padding: 0;
    transition: padding 0.2s;
    color: #0c84bb; }
  .credit-result__detail.is-active {
    opacity: 1; }
    .credit-result__detail.is-active::before {
      padding: 5px; }
    .credit-result__detail.is-active input {
      padding-top: 5px;
      padding-bottom: 5px; }

.repository-link {
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0; }
  .repository-link a {
    position: relative;
    z-index: 2;
    display: block;
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 15px;
    transition: transform 0.5s;
    transform: translate(20%, 20%); }
    @media (min-width: 576px) {
      .repository-link a {
        width: 36px;
        height: 36px; } }
    .repository-link a:focus, .repository-link a:hover {
      transform: translate(0, 0); }
      .repository-link a:focus + .repository-link__background, .repository-link a:hover + .repository-link__background {
        transform: translate(-50%, -50%) rotate(-30deg); }
  .repository-link__background {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: content-box;
    width: 1000%;
    height: 100%;
    padding: 15px 0;
    transition: transform 0.5s;
    transform: translate(-42%, -42%) rotate(-45deg);
    background-color: #0c84bb; }
    @media (min-width: 576px) {
      .repository-link__background {
        padding: 25px 0; } }
  .repository-link svg {
    width: 100%;
    height: 100%;
    fill: #02141d; }

.credit-navigation {
  width: 90vw;
  max-width: 500px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  flex-shrink: 0; }
  .credit-navigation, .credit-navigation__items {
    display: flex;
    overflow: auto;
    flex-direction: row; }
  .credit-navigation__items {
    flex-grow: 1; }
  .credit-navigation__item {
    padding: 7.5px;
    transition: opacity 0.2s, box-shadow 0.2s;
    text-decoration: none;
    color: #0c84bb;
    background-color: #fff;
    flex-grow: 1; }
    @media (min-height: 569px) {
      .credit-navigation__item {
        padding: 15px; } }
    .credit-navigation__item:not(.credit-navigation__item--add) {
      position: relative;
      overflow: hidden;
      opacity: 0.7;
      flex-shrink: 0; }
      .credit-navigation__item:not(.credit-navigation__item--add)::after {
        position: absolute;
        bottom: 0;
        left: 0;
        box-sizing: content-box;
        width: 100%;
        height: 4px;
        padding-right: 10px;
        padding-left: 10px;
        content: '';
        transform: translateX(-10px);
        box-shadow: 0 0 70px 15px white; }
    .credit-navigation__item:hover, .credit-navigation__item:focus, .credit-navigation__item.is-active {
      opacity: 1; }
    .credit-navigation__item:focus {
      outline: none; }
    .credit-navigation__item:not(.is-active):hover::after, .credit-navigation__item:not(.is-active):focus::after {
      background-color: #9adbf9;
      box-shadow: 0 0 70px 15px #9adbf9; }
    .credit-navigation__item.is-active::after {
      background-color: #0c84bb;
      box-shadow: 0 0 50px 15px #9adbf9; }
    .credit-navigation__item--add {
      position: relative;
      padding: 25px;
      color: #fff;
      background-color: #3bb9f2;
      flex-grow: 0; }
      .credit-navigation__item--add span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem; }
  .credit-navigation h2 {
    margin-top: 0;
    margin-bottom: 5px;
    white-space: nowrap;
    font-size: 22px; }
  .credit-navigation p {
    margin: 0;
    white-space: nowrap;
    color: #02141d; }

.share {
  display: flex; }
  .share > * {
    margin: 0 10px; }
  .share__label {
    color: #fff; }

.app {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  padding: 20px;
  background-color: #0c84bb;
  align-items: center;
  justify-content: center; }
  .app__scroll {
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: 90vw;
    max-width: 500px;
    padding: 15px 15px 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    flex-grow: 0; }
  .app > * {
    z-index: 1; }
    .app > *:not(:last-child) {
      margin-bottom: 20px; }
  .app::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 140vh;
    content: '';
    transform: rotate(-5deg) translate(-20vw, -20vh);
    background-color: #02141d;
    box-shadow: inset 0 50vh #0c84bb; }
