*, *::before, *::after {
  box-sizing: border-box; }

html,
body,
.root {
  width: 100%;
  height: 100%; }

html {
  font-size: 16px; }

body {
  font-family: 'Quicksand', sans-serif; }

label {
  display: block;
  margin-bottom: 5px; }
  @media (min-height: 768px) {
    label {
      margin-bottom: 10px; } }
  label:not([disabled]) {
    cursor: pointer; }
  label:last-child {
    margin-bottom: 0; }

input {
  width: 100%;
  padding: 5px;
  border: 0;
  outline: none;
  background: transparent;
  box-shadow: inset 0 -1px #ddd;
  font-size: 1rem;
  font-weight: 300; }
  @media (min-height: 768px) {
    input {
      font-size: 1.5rem; } }
  input:focus {
    box-shadow: inset 0 -3px #0c84bb; }
  input[disabled] {
    color: #0c84bb;
    border-radius: 5px;
    background: transparent;
    box-shadow: inset 0 -1px #eee; }

.App {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  background-color: #0c84bb;
  align-items: center;
  justify-content: center; }
  .App > * {
    z-index: 1; }
  .App::before {
    position: fixed;
    width: calc(100vw * 1.3);
    height: calc(100vh * 1.3);
    content: '';
    transform: rotate(-5deg);
    background-color: #02141d;
    box-shadow: inset 0 calc(43vh) #0c84bb; }

.credit-input {
  position: relative;
  z-index: 1;
  width: 90vw;
  max-width: 300px;
  padding: 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }

.credit-calculation-result input {
  padding-top: 0;
  padding-bottom: 0;
  transition: padding 0.2s; }

.credit-calculation-result__detail {
  transition: opacity 0.2s;
  opacity: 0.3; }
  .credit-calculation-result__detail.is-active {
    opacity: 1; }
    .credit-calculation-result__detail.is-active input {
      padding: 5px; }

.repository-link {
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0; }
  .repository-link a {
    position: relative;
    z-index: 2;
    display: block;
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 15px;
    transition: transform 0.5s;
    transform: translate(20%, 20%); }
    @media (min-width: 576px) {
      .repository-link a {
        width: 36px;
        height: 36px; } }
    .repository-link a:focus, .repository-link a:hover {
      transform: translate(0, 0); }
      .repository-link a:focus + .repository-link__background, .repository-link a:hover + .repository-link__background {
        transform: translate(-50%, -50%) rotate(-30deg); }
  .repository-link__background {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: content-box;
    width: 1000%;
    height: 100%;
    padding: 15px 0;
    transition: transform 0.5s;
    transform: translate(-42%, -42%) rotate(-45deg);
    background-color: #0c84bb; }
    @media (min-width: 576px) {
      .repository-link__background {
        padding: 25px 0; } }
  .repository-link svg {
    width: 100%;
    height: 100%;
    fill: #02141d; }

.variations-link {
  margin-top: 10px; }
  .variations-link__link {
    text-decoration: none;
    color: #0c84bb; }

.variations-result {
  position: absolute;
  top: 120vh;
  left: 0;
  width: 100%;
  background-color: #fff; }
  @media (min-width: 992px) {
    .variations-result {
      padding: 10px; } }
  @media (max-width: 991px) {
    .variations-result__variable {
      margin-bottom: 10px;
      padding: 10px 0;
      text-align: center;
      background-color: #f5f5f5;
      font-size: 1.2rem;
      font-weight: bold; }
      .variations-result__variable span {
        color: #02141d; }
      .variations-result__variable::before {
        display: inline-block;
        margin-right: 0.5rem;
        content: attr(data-prefix);
        color: #02141d; } }
  @media (max-width: 991px) {
    .variations-result__variable span:last-child {
      display: block; } }
  @media (max-width: 991px) {
    .variations-result tr:not(:first-child) {
      margin-top: 10px;
      border-top: 1px solid #ccc; }
      .variations-result tr:not(:first-child) .variations-result__variable::before,
      .variations-result tr:not(:first-child) .variations-result__variable span:first-child {
        display: none; } }

.variations-result__table {
  position: relative;
  z-index: 1;
  display: block;
  overflow-x: auto;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border-collapse: collapse; }
  .variations-result__table td {
    color: #999fa2; }
  @media (max-width: 991px) {
    .variations-result__table:not(:last-child) {
      margin-bottom: 10px; }
    .variations-result__table thead {
      display: none; }
    .variations-result__table tbody,
    .variations-result__table tr,
    .variations-result__table td {
      display: block; }
    .variations-result__table td[data-column]::before {
      display: inline-block;
      width: 50%;
      padding-right: 5px;
      content: attr(data-column);
      text-align: right;
      color: #0c84bb; } }
  @media (min-width: 992px) {
    .variations-result__table tr:first-child td {
      padding-top: 10px; }
    .variations-result__table:not(:last-child) {
      margin-bottom: 15px; }
    .variations-result__table td:first-child,
    .variations-result__table th:first-child {
      width: 20%;
      min-width: 220px;
      padding: 0 5px; }
    .variations-result__table td:not(:first-child),
    .variations-result__table th:not(:first-child) {
      width: 8.88889%; }
    .variations-result__table td {
      line-height: 1.4rem; }
      .variations-result__table td:first-child {
        color: #0c84bb; }
      .variations-result__table td:not(:first-child) {
        text-align: center; }
    .variations-result__table th {
      padding: 5px 0;
      border-bottom: 2px solid #eee;
      line-height: 1.4em;
      font-size: 1.1rem; }
      .variations-result__table th:first-child {
        text-align: left; } }
