$white: #fff;
$gray: #ddd;
$gray-lighter: #eee;
$color-dark: #02141d;
$color-accent: #0c84bb;
$input-padding: 5px;

$app-max-width: 500px;

$screen-md-min: 576px;
$screen-lg-min: 992px;
$screen-xlg-min: 1200px;

$component-spacing: 20px;
$component-padding: 15px;
$component-border-radius: 10px;

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body,
.root {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Quicksand', sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;

  @media (min-height: 768px) {
    margin-bottom: 10px;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

input {
  width: 100%;
  padding: $input-padding;
  border: 0;
  outline: none;
  background: transparent;
  box-shadow: inset 0 -1px $gray;
  font-size: 1rem;
  font-weight: 300;

  @media (min-height: 768px) {
    font-size: 1.5rem;
  }

  &:focus {
    box-shadow: inset 0 -3px $color-accent;
  }

  &[disabled] {
    color: $color-accent;
    border-radius: 5px;
    background: transparent;
    box-shadow: inset 0 -1px $gray-lighter;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  padding: $component-spacing;
  background-color: $color-accent;
  align-items: center;
  justify-content: center;

  &__scroll {
    $credit-input-bg: rgba(255, 255, 255, 0.95);
    $credit-input-shadow: rgba(0, 0, 0, 0.3);

    position: relative;
    z-index: 1;
    overflow: auto;
    width: 90vw;
    max-width: $app-max-width;
    padding: $component-padding;
    border-radius: $component-border-radius;
    background: $credit-input-bg;
    box-shadow: 0 2px 2px $credit-input-shadow;
  }

  > * {
    z-index: 1;

    &:not(:last-child) {
      margin-bottom: $component-spacing;
    }
  }

  &::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 140vh;
    content: '';
    transform: rotate(-5deg) translate(-20vw, -20vh);
    background-color: $color-dark;
    box-shadow: inset 0 50vh $color-accent;
  }
}

@import 'assets/scss/credit-input';
@import 'assets/scss/credit-calculation-result';
@import 'assets/scss/repository-link';
@import 'assets/scss/variations-link';
@import 'assets/scss/variation-result';
@import 'assets/scss/calculations';
